@mixin container-mobile {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin container-tablet {
  padding: 0 45px;
}

@mixin container-desktop {
  max-width: 1366px;
  padding: 0 98px;
}

@mixin active-color {
  &:hover {
    color: $text-color-active;
  }

  &:focus {
    color: $text-color-active;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin active-opacity {
  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
