@mixin container-mobile {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin container-tablet {
  width: 768px;
  padding: 0 45px;
}

@mixin container-desktop {
  width: 1170px;
  max-width: 1366px;
  padding-right: 0;
  padding-left: 0;
}

@mixin active-color {
  &:hover,
  &:focus {
    color: $text-color-active;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin active-opacity {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin active-border {
  &:hover,
  &:focus {
    border: 2px solid $active-element-color;
  }
}

@mixin active-icon-fill {
  &:hover > svg,
  &:focus > svg {
    fill: $active-element-color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin active-icon-stroke {
  &:hover > svg,
  &:focus > svg {
    stroke: $active-element-color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin active-scale {
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
