$background-color-primary: #ffffff;
$background-color-secondary: #f1f2f4;

$text-color-darkest: #151c22;
$text-color-medium-dark: #727a82;
$text-color-active: #81adcc;

$button-background-color: #151c22;
$button-text-color: #ffffff;

$tablet-width: 768px;
$desktop-width: 1366px;
