.banner {
  position: relative;

  width: 290px;
  margin: 0 auto;
  margin-bottom: 226px;
  padding: 0 15px;
  padding-top: 15px;

  background-image: url("../img/diagonal-banner-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background-color-primary;
  color: $text-color-darkest;

  &::before {
    content: '';

    position: absolute;
    top: 100%;
    left: 0;

    width: 320px;
    height: 226px;

    background-image: url("../img/banner-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}

.banner__wrapper {
  padding-top: 36px;
  padding-bottom: 40px;

  background-color: $background-color-secondary;
}

.banner__description {
  margin: 0;
  margin-bottom: 2px;

  font-size: 18px;
  line-height: 21px;
  color: $text-color-medium-dark;
  text-align: center;
}

.banner__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

.banner__button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .banner {
    width: 310px;
    padding: 20px 20px 20px 350px;

    background-position: right;
    background-size: auto 287px;
    background-image: url("../img/diagonal-banner-tablet.svg");

    &::before {
      top: 0;
      left: 0;

      width: 352px;
      height: 287px;

      background-image: url("../img/banner-tablet@1x.jpg");
    }
  }

  .banner__wrapper {
    padding-top: 46px;
    padding-bottom: 52px;
    padding-left: 55px;
  }

  .banner__description {
    text-align: left;
  }

  .banner__title {
    margin-bottom: 31px;

    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }

  .banner__button {
    margin: 0;
  }
}
