.bestsellers {
  @include container-mobile;

  margin-bottom: 61px;
  padding-top: 55px;

  color: $text-color-darkest;
  background-color: $background-color-primary;
}

.bestsellers__title {
  margin: 0;
  margin-bottom: 34px;
}

.bestsellers__products {
  margin: 0;
  margin-bottom: 6px;
}

.bestsellers__all {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .bestsellers {
    @include container-tablet;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 95px;
  }

  .bestsellers__title {
    order: 0;
    max-width: 560px;
    margin-bottom: 53px;
  }

  .bestsellers__products {
    order: 2;
    margin-right: -30px;
    margin-bottom: 0;
  }

  .bestsellers__all {
    order: 1;
    align-self: flex-start;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .bestsellers {
    @include container-desktop;

    margin-bottom: 82px;
    padding-top: 118px;
  }

  .bestsellers__title {
    margin-bottom: 62px;
  }

  .bestsellers__all {
    margin-top: 4px;
  }
}
