.bestsellers {
  @include container-mobile;

  width: 320px;
  padding-top: 55px;
  padding-bottom: 61px;

  color: $text-color-darkest;
  background-color: $background-color-primary;
}

.bestsellers__title {
  margin: 0;
  margin-bottom: 34px;
}

.bestsellers__products {
  margin: 0;
  margin-bottom: 6px;
}

.bestsellers__all {
  margin: 0 auto;
}
