.bestsellers {
  @include container-mobile;

  width: 320px;
  padding-top: 55px;
  padding-bottom: 61px;

  color: $text-color-darkest;
  background-color: $background-color-primary;
}

.bestsellers__title {
  margin: 0;
  margin-bottom: 34px;
}

.bestsellers__products {
  margin: 0;
  margin-bottom: 6px;
}

.bestsellers__all {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .bestsellers {
    @include container-tablet;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 768px;
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .bestsellers__title {
    order: 0;
    max-width: 560px;
    margin-bottom: 53px;
  }

  .bestsellers__products {
    order: 2;
    margin-bottom: 0;
  }

  .bestsellers__all {
    order: 1;
    align-self: flex-start;
    margin: 0;
  }
}
