.button {
  display: block;
  box-sizing: border-box;
  padding: 22px 10px 22px 10px;

  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: $button-text-color;
  border: none;
  background-color: $button-background-color;

  &--large {
    width: 204px;
  }

  &--medium {
    width: 177px;
  }

  &--small {
    width: 148px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--all-width {
    width: 290px;
    margin: 0 auto;
  }

  &:hover {
    color: $text-color-active;
  }

  &:focus {
    color: $text-color-active;
  }

  &:active {
    color: $button-text-color;
    background-color: $button-background-color-active;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--large {
      width: 219px;
    }

    &--medium {
      width: 206px;
    }

    &--all-width {
      width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--small {
      width: 200px;
      padding-top: 21px;
      padding-bottom: 24px;
    }
  }
}
