.card {
  margin-bottom: 52px;
  padding-top: 4px;

  color: $text-color-darkest;
  background-color: $background-color-primary;
}

.card__photos {
  @include container-mobile;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card__arrow {
  @include active-icon-stroke;

  position: relative;

  width: 23px;
  height: 310px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: $background-color-primary;
}

.card__arrow-icon {
  position: absolute;
  top: 132px;

  &--backward {
    right: 8px;

    transform: rotate(90deg);
  }

  &--forward {
    left: 8px;

    transform: rotate(-90deg);
  }
}

.card__thumbnails-list {
  display: none;
}

.card__image-item {
  @include active-opacity;

  margin: 0;
}

.card__image {
  display: block;
}

.card__characteristics {
  padding-top: 34px;
  padding-bottom: 40px;

  background-color: $background-color-secondary;
}

.card__characteristics-wrapper {
  @include container-mobile;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
}

.card__description {
  max-width: 275px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 16px;
}

.card__colors {
  margin-bottom: 34px;
}

.card__colors-header {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 500;
}

.card__colors-list,
.card__sizes-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.card__colors-list {
  padding-left: 3px;
}

.card__colors-item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.card__sizes {
  margin-bottom: 28px;
}

.card__sizes-header {
  margin: 0;
  margin-bottom: 18px;

  font-weight: 500;
}

.card__sizes-item {
  margin-right: 25px;
}

.card__price {
  margin: 0;
  margin-bottom: 31px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}


@media (min-width: $tablet-width) {
  .card {
    margin-bottom: 94px;
    padding: 0;

    background: linear-gradient(to right, $background-color-primary 52%, $background-color-secondary 52%);
  }

  .card__wrapper {
    @include container-tablet;

    display: flex;
    margin: 0 auto;
    margin-top: 38px;

    box-sizing: border-box;
  }

  .card__photos {
    width: 324px;
    margin: 0;
    padding: 0;
  }

  .card__thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .card__arrow {
    display: none;
  }

  .card__image-item {
    &--large {
      width: 324px;
      height: 360px;
      margin-bottom: 22px;
    }

    &--mini {
      width: 151px;
      height: 99px;
      margin-bottom: 22px;

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }

  .card__image {
    &--large {
      width: 324px;
      height: 360px;
    }
  }

  .card__characteristics {
    padding-top: 44px;
    padding-bottom: 0;
    padding-left: 80px;

    background-color: transparent;
  }

  .card__characteristics-wrapper {
    width: 275px;
    margin: 0;
    padding: 0;
  }

  .card__title {
    margin-bottom: 30px;
  }

  .card__description {
    margin-bottom: 43px;
  }

  .card__colors {
    margin-bottom: 39px;
  }

  .card__colors-header,
  .card__sizes-header {
    font-size: 18px;
    line-height: 21px;
  }

  .card__colors-item {
    margin-right: 31px;
  }

  .card__sizes {
    margin-bottom: 31px;
  }

  .card__sizes-item {
    margin-right: 21px;
  }

  .card__price {
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .card__wrapper {
    @include container-desktop;

    margin-top: 57px;
    margin-bottom: 122px;
  }

  .card__arrow {
    display: block;
    width: 70px;
    height: 523px;
  }

  .card__arrow-icon {
    top: 200px;

    width: 25px;
    height: 15px;

    &--backward {
      right: 50px;
    }

    &--forward {
      left: 50px;
    }
  }

  .card__photos {
    width: 540px;
  }

  .card__image-item,
  .card__image {
    &--large {
      width: 400px;
      height: 523px;
    }

    &--mini {
      width: 85px;
      height: 113px;
      margin-right: 20px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .card__thumbnails-list {
    padding-left: 70px;
  }

  .card__characteristics {
    padding-top: 62px;
    padding-left: 130px;
  }

  .card__characteristics-wrapper {
    width: auto;
  }

  .card__title {
    margin-bottom: 28px;
  }

  .card__description {
    max-width: 370px;

    font-size: 16px;
    line-height: 19px;
  }
}
