.catalog {
  @include container-mobile;

  margin-bottom: 60px;
}

.catalog__filters {
  margin-bottom: 40px;
}

.catalog__products {
  margin: 0;
  margin-bottom: 19px;
}

.catalog__range {
  margin: 0 auto;
}

.catalog__load-button {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog {
    @include container-tablet;

    margin-bottom: 101px;
  }

  .catalog__filters {
    margin-bottom: 23px;
    margin-left: auto;
  }

  .catalog__products {
    margin-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include container-desktop;

    margin-bottom: 130px;
  }

  .catalog__filters {
    margin-bottom: 40px;
  }
}
