.collection-toggle__button {
  @include active-color;

  font-size: 14px;
  line-height: 16px;
  color: $text-color-medium-dark;
  cursor: pointer;
}

.collection-toggle__input:checked + .collection-toggle__button {
  color: $text-color-darkest;
}
