.filters {
  font-weight: 500;
}

.filters__mobile-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  padding: 20px 15px 20px 15px;
}

.filters__clear-button,
.filters__close {
  @include active-color;

  margin: 0;
  padding: 0;

  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background-color: $background-color-primary;
}

.filters__clear-button {
  display: none;

  &--mobile {
    display: block;
  }
}

.filters__title {
  margin: 0;
  margin-right: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.filters__list {
  margin: 0;
  margin-bottom: 157px;
  padding: 0;

  list-style: none;
}

.filters__content--opened .filters__list {
  margin-bottom: 49px;
}

.filters__item {
  border-bottom: 2px solid $border-color-light;

  &:first-child {
    border-top: 2px solid $border-color-light;
  }
}

.filters__item-wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.filters__toggle {
  @include active-color;
  @include active-icon-stroke;

  display: flex;
  justify-content: space-between;
  width: 290px;
  padding: 13px 0;

  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  border: none;
  background-color: $background-color-primary;

  &--main {
    @include active-border;

    margin: 0 auto;
    padding: 11px 15px 11px 15px;

    font-size: 18px;
    line-height: 21px;
    border: 2px solid $border-color-dark;
  }
}

.filters__arrow-icon {
  padding-top: 5px;

  &--up {
    padding-bottom: 5px;

    transform: rotate(180deg);
  }
}

.filters__content {
  display: none;

  background-color: $background-color-primary;

  &--opened {
    display: block;
  }

  &--main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    min-height: 100vh;
    padding-bottom: 25px;
  }

  &--price {
    padding-top: 14px;
    padding-bottom: 20px;
  }

  &--color {
    margin: 0;
    padding: 10px 0 26px 3px;

    list-style: none;
  }

  &--collection {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;

    list-style: none;
  }
}

.filters__content--opened.filters__content--color,
.filters__content--opened.filters__content--collection {
  display: flex;
  flex-wrap: wrap;
}

.filters__scale {
  position: relative;

  height: 2px;
  margin-bottom: 5px;

  background-color: $background-color-secondary;
}

.filters__bar {
  width: 141px;
  height: 2px;
  margin-left: 61px;

  background-color: $background-color-tertiary;
}

.filters__range-toggle {
  @include active-scale;

  position: absolute;
  top: -6px;

  &--min {
    left: 45px;
  }

  &--max {
    left: 202px;
  }
}

.filters__control {
  @include active-scale;

  display: inline-block;
  vertical-align: middle;

  &--min {
    margin-left: 36px;
  }

  &--max {
    margin-left: 84px;
  }
}

.filters__control-input {
  max-width: 50px;
  margin: 0;
  padding: 0;

  border: none;
}

.filters__control-price,
.filters__control-input {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.filters__color {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.filters__collection {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.filters__apply-button {
  position: absolute;
  top: calc(100% - 150px);
  left: calc(50% - 145px);
}

@media (min-width: $tablet-width) {
  .filters {
    position: relative;
  }

  .filters__mobile-header {
    display: none;
  }

  .filters__toggle {
    width: 173px;

    &--main {
      width: 207px;
      margin-left: auto;
      margin-right: 0;
      padding: 14px 15px;
    }
  }

  .filters__content {
    &--main {
      position: absolute;
      top: 53px;
      left: calc(100% - 207px);
      z-index: 0;

      width: 203px;
      min-height: 305px;
      padding: 0;

      border: 2px solid $border-color-dark;
      border-top: none;
    }

    &--color {
      max-width: 100px;
      padding-bottom: 4px;
    }

    &--collection {
      max-width: 140px;
      padding-top: 4px;
      padding-bottom: 10px;
    }
  }

  .filters__content--opened .filters__list {
    margin-bottom: 41px;
  }

  .filters__item {
    &:first-child {
      border-top: none;
    }
  }

  .filters__item-wrapper {
    width: auto;
  }

  .filters__scale {
    margin-bottom: 10px;
  }

  .filters__bar {
    width: 117px;
    margin-left: 30px;
  }

  .filters__range-toggle {
    top: -7px;

    &--min {
      left: 19px;
    }

    &--max {
      left: 132px;
    }
  }

  .filters__control {
    &--min {
      margin-left: 10px;
    }

    &--max {
      margin-left: 49px;
    }
  }

  .filters__control-input {
    max-width: 40px;
  }

  .filters__color {
    margin-right: 25px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .filters__collection {
    margin-bottom: 10px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .filters__apply-button {
    position: static;

    margin-bottom: 23px;
  }

  .filters__clear-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .filters__toggle {
    width: 209px;

    &--main {
      width: 243px;
    }
  }

  .filters__content {
    &--main {
      left: calc(100% - 243px);

      width: 239px;
    }

    &--color {
      max-width: none;
    }

    &--collection {
      padding-top: 7px;
    }
  }

  .filters__bar {
    width: 138px;
  }

  .filters__range-toggle {
    &--min {
      left: 25px;
    }

    &--max {
      left: 168px;
    }
  }

  .filters__control {
    &--min {
      margin-left: 17px;
    }

    &--max {
      margin-left: 78px;
    }
  }

  .filters__color {
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
