.logo {
  @include active-icon-fill;

  padding: 15px;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 18px 15px 13px 15px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding-top: 15px;
  }
}
