.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0;

  list-style: none;
  font-weight: 500;

  &--main {
    flex-direction: row;
    max-width: 215px;
    padding: 0;
  }
}

.navigation__item {
  width: 100%;

  text-align: center;
  border-bottom: 2px solid $border-color;

  &:first-child {
    border-top: 2px solid $border-color;
  }

  &--main {
    width: auto;

    text-align: left;
    border: none;
  }
}

.navigation__link {
  @include active-color;

  display: block;
  padding: 14px;

  text-decoration: none;
  color: $text-color-darkest;

  &--main {
    padding: 24px 0;
    padding-right: 25px;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    flex-direction: row;
    width: auto;

    &--main {
      max-width: 550px;
    }
  }

  .navigation__item {
    width: auto;

    text-align: left;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .navigation__link {
    padding: 20px 35px 20px 0;

    &--main {
      padding: 24px 35px 24px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    &--main {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 7px;
    }
  }

  .navigation__link {
    &--main {
      padding-top: 0;
      padding-bottom: 26px;
    }
  }
}
