.navigation {
  display: flex;
  max-width: 215px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
}

.navigation__link {
  display: block;
  padding: 24px 0;
  padding-right: 25px;

  text-decoration: none;
  color: $text-color-darkest;
}

@media (min-width: $tablet-width) {
  .navigation__link {
    padding-right: 35px;
  }
}
