.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.products__item {
  margin-right: 30px;
  margin-bottom: 27px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.products__image {
  margin-bottom: 7px;
}

.products__characteristic {
  border: none;
  border-spacing: 0;
}

.products__characteristic-row {
  display: flex;
  flex-direction: column;
}

.products__characteristic-cell {
  margin-bottom: 3px;
  padding: 0;

  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }

  &--price {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .products__item {
    margin-bottom: 46px;
  }

  .products__image {
    width: 324px;
    height: 349px;
    margin-bottom: 18px;
  }

  .products__characteristic-cell {
    margin-bottom: 6px;

    &--name {
      font-size: 18px;
      line-height: 21px;
    }

    &--price {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .products__image {
    width: 270px;
    height: 349px;
  }
}
