.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.products__item {
  margin-bottom: 27px;

  &--big {
    width: 290px;
  }
}

.products__image {
  margin-bottom: 7px;
}

.products__characteristic {
  border: none;
  border-spacing: 0;
}

.products__characteristic-row {
  display: flex;
  flex-direction: column;
}

.products__characteristic-cell {
  margin-bottom: 3px;
  padding: 0;

  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }

  &--price {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .products {
    justify-content: flex-start;
  }

  .products__item {
    margin-right: 30px;
    margin-bottom: 46px;

    &--catalog {
      &:nth-child(6) {
        margin-top: -393px;
      }

      &:nth-child(7) {
        margin-left: -236px;
      }
    }

    &--big {
      width: 442px;
    }
  }

  .products__image {
    width: 324px;
    height: 349px;
    margin-bottom: 18px;

    &--catalog {
      width: 206px;
      height: 279px;
    }

    &--big {
      width: 442px;
      height: 672px;
    }
  }

  .products__characteristic-cell {
    margin-bottom: 6px;

    &--name {
      font-size: 18px;
      line-height: 21px;
    }

    &--price {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    &--catalog {
      margin-right: 66px;
      margin-bottom: 62px;

      &:nth-child(-n + 4) {
        order: -3;
      }

      &:nth-child(5) {
        order: -1;
      }

      &:nth-child(6) {
        order: -2;

        margin-top: 0;
      }

      &:nth-child(7) {
        order: -2;

        margin-left: 0;
      }

      &:nth-child(8),
      &:nth-child(9) {
        margin-top: -400px;
      }

      // Для нивелирования отрицательного отступа при добавлении новых элементов
      &:nth-child(10) {
        margin-left: -618px;
      }
    }

    &--big {
      width: 552px;
    }
  }

  .products__image {
    width: 270px;
    height: 349px;

    &--catalog {
      width: 243px;
      height: 270px;
    }

    &--big {
      width: 552px;
      height: 670px;
    }
  }
}
