.promo {
  background-color: $background-color-secondary;
  color: $text-color-medium-dark;
}

.promo__wrapper {
  @include container-mobile;

  position: relative;

  padding-top: 328px;
  padding-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: calc(50% - 120px);

    width: 241px;
    height: 289px;

    background-image: url("../img/promo-photo-mobile@1x.jpg"), url("../img/diagonal-top.svg"), url("../img/diagonal-bottom.svg");
    background-repeat: no-repeat;
    background-position: center, top left, bottom right;
  }
}

.promo__caption {
  margin: 0;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.promo__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;
}

.promo__button {
  margin: 0 auto;
}

.promo__social {
  display: none;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    @include container-tablet;

    padding-top: 73px;
    padding-bottom: 40px;
    padding-left: 133px;

    &::before {
      top: -30px;
      left: auto;
      right: 45px;

      width: 324px;
      height: 379px;

      background-image: url("../img/promo-photo-tablet@1x.jpg"), url("../img/diagonal-top.svg"), url("../img/diagonal-bottom.svg");
      background-size: auto, 141px, 141px;
    }
  }

  .promo__caption {
    margin-bottom: 16px;

    text-align: left;
  }

  .promo__title {
    width: 225px;
    height: 85px;
    margin: 0;
    margin-bottom: 61px;
  }

  .promo__button {
    margin: 0;
    margin-bottom: 65px;
  }

  .promo__social {
    display: block;
    margin-right: -5px;

    text-align: right;
  }

  .promo__social-item {
    margin-right: 20px;
    padding: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: $text-color-darkest;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    @include container-desktop;

    padding-top: 10px;
    padding-bottom: 43px;
    padding-left: 268px;

    &::before {
      top: -178px;
      right: 222px;

      width: 526px;
      height: 618px;

      background-image: url("../img/promo-photo-desktop@1x.jpg"), url("../img/diagonal-top.svg"), url("../img/diagonal-bottom.svg");
      background-size: 430px, 234px, 234px;
    }
  }

  .promo__title {
    width: 294px;
    height: 112px;
    margin-bottom: 47px;
  }

  .promo__button {
    margin-bottom: 56px;
  }

  .promo__social {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    text-align: center;
  }

  .promo__social-item {
    max-width: 120px;
    margin-right: 0;
    margin-bottom: 20px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}
