.search__button {
  @include active-icon-stroke;

  margin: 0;
  padding: 10px;

  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .search__icon {
    width: 20px;
    height: 20px;
  }
}
