.site-header {
  position: relative;

  margin-bottom: 15px;
  padding-top: 9px;

  color: $text-color-darkest;
  background-color: $background-color-primary;

  &--main {
    margin: 0;
    padding: 0;

    background-color: $background-color-secondary;
  }
}

.site-header__top-wrapper {
  @include container-mobile;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__menu-button {
  margin-right: 53px;
}

.site-header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;

  background-color: $background-color-primary;
}

.site-header__menu-wrapper {
  @include container-mobile;

  display: flex;
  justify-content: space-between;
}

.site-header__navigation {
  display: block;
  width: 100%;

  &--main {
    display: block;
    width: 320px;
  }

  &--closed {
    display: none;
  }

  &--no-js {
    display: block;
  }
}

.site-header__navigation-list {
  margin: 0;
}

.site-header__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 78px;
  margin-right: -10px;
}

@media (min-width: $tablet-width) {
  .site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    padding: 0 45px;
    padding-top: 6px;
    box-sizing: border-box;

    &--main {
      display: block;
      width: auto;
      padding: 0;
    }
  }

  .site-header__top-wrapper {
    order: 2;

    min-width: 390px;
    margin: 0;
    padding: 0;
  }

  .site-header__logo-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .site-header__menu-wrapper {
    @include container-tablet;

    padding-top: 14px;
  }

  .site-header__buttons-wrapper {
    width: 93px;
  }

  .site-header__navigation {
    order: 1;

    width: auto;

    &--main {
      order: 0;
    }

    &--closed {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-header {
    width: 1170px;
    padding: 0;
    padding-top: 5px;

    &--main {
      width: auto;
      padding: 0;
    }
  }

  .site-header__top-wrapper {
    min-width: 635px;
  }

  .site-header__logo-wrapper {
    padding-top: 9px;
    padding-bottom: 7px;
  }

  .site-header__menu-wrapper {
    @include container-desktop;

    align-items: flex-start;
    padding-top: 36px;
  }

  .site-header__buttons-wrapper {
    &--main {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      width: 45px;
      min-width: 45px;
      margin-right: -15px;
    }
  }

  .site-header__basket {
    &--main {
      margin-bottom: 9px;
    }
  }
}
