.site-header {
  background-color: $background-color-secondary;
}

.site-header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;

  background-color: $background-color-primary;
}

.site-header__menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.site-header__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69px;
}

@media (min-width: $tablet-width) {
  .site-header__logo-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .site-header__menu-wrapper {
    padding: 0 45px;
    padding-top: 15px;
  }

  .site-header__buttons-wrapper {
    width: 93px;
    margin-right: -10px;
  }
}
