.site-header {
  background-color: $background-color-secondary;
  color: $text-color-darkest;
}

.site-header__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;

  background-color: $background-color-primary;
}

.site-header__menu-wrapper {
  @include container-mobile;

  display: flex;
  justify-content: space-between;
  width: 320px;
}

.site-header__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 78px;
  margin-right: -10px;
}

@media (min-width: $tablet-width) {
  .site-header__logo-wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .site-header__menu-wrapper {
    @include container-tablet;

    width: 768px;
    padding-top: 15px;
  }

  .site-header__buttons-wrapper {
    width: 93px;
  }
}

@media (min-width: $desktop-width) {
  .site-header__logo-wrapper {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .site-header__menu-wrapper {
    @include container-desktop;

    align-items: flex-start;
    width: 1366px;
    padding-top: 41px;
  }

  .site-header__navigation {
    padding-top: 5px;
  }

  .site-header__buttons-wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45px;
    margin-right: -15px;
  }

  .site-header__basket {
    margin-bottom: 9px;
  }
}
