.site-footer {
  padding-top: 50px;
  padding-bottom: 47px;

  color: $text-color-light;
  background-color: $background-color-tertiary;
}

.site-footer__wrapper {
  @include container-mobile;

  position: relative;

  width: 320px;
}

.site-footer__logo {
  content: "";

  position: absolute;
  top: -16px;
  left: 0;
}

.site-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  list-style: none;
}

.site-footer__navigation-item {
  width: 130px;
  margin-bottom: 22px;

  &:first-child {
    padding-left: 160px;
  }
}

.site-footer__navigation-link {
  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $text-color-light;
  text-decoration: none;
}

.site-footer__social {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .site-footer {
    padding-top: 30px;
  }

  .site-footer__wrapper {
    @include container-tablet;

    position: static;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
  }

  .site-footer__logo {
    position: static;

    margin-bottom: 16px;
  }

  .site-footer__navigation {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .site-footer__navigation-item {
    width: auto;
    margin-right: 35px;

    &:nth-child(1) {
      order: 4;
      padding-left: 0;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 5;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
