.text-toggle__button {
  @include active-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $text-color-medium-dark;
  cursor: pointer;
}

.text-toggle__input:checked + .text-toggle__button {
  color: $text-color-darkest;
}

@media (min-width: $tablet-width) {
  .text-toggle__button {
    &--size {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
